<div class="container">
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <tr> <th>Id</th><th>Nom</th> <th>salaire</th> <th>Date rectretement</th> </tr>
    <tbody *ngFor="let machine of machine">
    <tr >
    <td>{{machine.idmachine}}</td>
    <td>{{machine.nommachine}}</td>
    <td>{{machine.prixmachine}}</td>
    <td>{{machine.dateachat | date:'dd/MM/yyyy'}}</td>
    <td><a class="btn btn-danger" (click)="supprimerMachine(machine)">Supprimer</a></td>
    <td><a class="btn btn-primary" [routerLink]="['/update-machine',machine.idmachine]">Modifier</a></td>
</tr>
    </tbody>
    
    </table>
    </div>
    </div>
    </div>