<div class="container">
    <div>
    <h2>Ajouter un employeur :</h2>
    </div>
    <form >
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >ID employeur</label>
        <input type="text" [(ngModel)]="newMachine.idmachine"
        name="idmachine" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >Nom  employeur</label>
        <input type="text"[(ngModel)]= "newMachine.nommachine"
        name="nomProduit" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >salaire</label>
        <input type="number" [(ngModel)]= "newMachine.prixmachine"
        name="prixProduit" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date rectretement</label>
        <input type="date" [(ngModel)]= "newMachine.dateachat"
        name="dateCreation" class="form-control">
        </div>
        <div class="mt-2">
        <button type="submit" (click)="addMachine()"class="btn btn-success">Ajouter</button>
        </div>
        </form>
        
        </div>